* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  background: linear-gradient(to bottom, rgb(241, 245, 11), rgb(223, 12, 12));
}

/*Searchbar section styling*/

.searchbar-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.searchbar-section input {
  padding: 1rem 4rem;
  border-radius: 10px;
  border: 1px solid yellow;
  background: linear-gradient(
    to left,
    rgb(241, 245, 11),
    rgba(238, 16, 16, 0.733)
  );
  color: black;
  font-size: 1.2rem;
}

input::placeholder {
  font-size: 1rem;
  color: black;
}

.searchbar-section button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(241, 245, 11), rgb(223, 12, 12));
  border: 1px solid yellow;
}

.searchbar-section button i {
  font-size: 2rem;
}

/* Drink description styling*/

.cocktails-container {
  gap: 2rem;
  margin-top: 6rem;
  display: flex;
  align-items: center;
}

.carousel-arrows {
  flex-basis: 20%;
}

.carousel-arrows i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.carousel-arrows i {
  font-size: 6rem;
}

.cocktail-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-basis: 60%;
}

.cocktail-description h1 {
  font-size: 5rem;
  color: rgb(156, 22, 156);
}

.cocktail-description img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.cocktail-description p {
  color: black;
  font-size: 2rem;
  text-align: center;
}

#ingredients {
  color: rgba(92, 148, 7, 0.918);
}
